global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy #changes current working directory for a process and its children
    user haproxy
    group haproxy
    daemon

    # Production performance tuning
    maxconn 50000
    ssl-default-bind-ciphers PROFILE=SYSTEM
    ssl-default-bind-options ssl-min-ver TLSv1.2

defaults
    log     global
    mode    tcp                # Crucial: Must be Layer 4 TCP for K8s API server
    option  tcplog
    option  dontlognull
    retries 3
    timeout queue           1m
    timeout connect         10s
    timeout client          30m # Keep kubernetes watch streams alive
    timeout server          30m # Keep kubernetes watch streams alive
    timeout check           10s

## Frontend Configuration
{% for frontend in haproxy_frontends | default([]) %}
frontend {{ frontend.name }}
    bind {{ frontend.bind }}
    mode {{ frontend.mode | default('http') }}
    default_backend {{ frontend.default_backend }}
{% endfor %}

## Backend Configuration
{% for backend in haproxy_backends | default([]) %}
backend {{ backend.name }}
    mode {{ backend.mode | default('http') }}
{% if backend.tcp_option is defined %}
    option {{ backend.tcp_option }}
{% endif %}
{% if backend.http_option is defined %}
    option {{ backend.http_option }} GET /readyz
{% endif %}
    balance {{ backend.balance | default('roundrobin') }}
{% for server in backend.servers | default([]) %}
    server {{ server.name }} {{ server.ip }}:{{ server.port }}
{%- if backend.check_options is defined %} {{ backend.check_options ~ "\n" }}{%- endif %}
{% endfor %}
{% endfor %}


# HAProxy Stats Dashboard
listen stats
    bind {{ ansible_host }}:9000
    mode http
    stats enable
    stats uri /
    stats refresh 10s
    stats auth admin:haproxy123
